@if (Model["selected-restaurant"] != null)
{
  <div class="well">
    <h2>@Model["selected-restaurant"].Name</h2>
    <ul>
      <li>@Model["selected-restaurant"].Cost</li>
      <li>@Model["selected-restaurant"].FavoriteDish</li>
    </ul>
    <br>

    <form action='/cuisines/@Model["this-cuisine"].Id/restaurants/@Model["selected-restaurant"].Id/delete' method="post">
      <button class="btn btn-danger" type="submit">Delete Restaurant</button>
    </form>
  </div>
}
