@{
  Layout = "_Layout";
}
<h1>Add a type of cuisine:</h1>
<br>
<form action="/cuisines/new" method="post">
 <label for="cuisine-name">Enter the type of cuisine:</label>
 <input type="text" name="cuisine-name" id="cuisine-name" required autofocus>
 <button type="submit">Enter</button>
</form>

<br>
<br>
<a href="/">Home</a>
