@{
  Layout = "_Layout";
}
<h1 class="cuisine-header">Cuisines</h1>

@if (Model.Count == 0)
{
 <h1>You don't have any types of cuisine entered yet!</h1>
}
else
{
    <div class="row">
      <div class="container">
        <form action="/cuisines/clear" method="post">
          <button class="btn btn-danger" type="submit">Clear All Cuisines</button>
        </form>
      </div>
    </div>
    <br>
    @foreach(var cuisine in Model)
    {
      <div class="well custom-well col-xs-3">
        <form action="/cuisines/@cuisine.Id/delete" method="post"><button class="btn btn-danger custom-btn" type="submit">Delete</button></form>
        <span class="custom-text"><a href="/cuisines/@cuisine.Id">@cuisine.Name</a></span>
      </div>
    }
  <br>
  <br>
  <br>
}
<div class="row">
</div>
<br><a href="/cuisines/new">Add Type of Cuisine</a>
<br><a href="/">Return to Home</a>
