@{
  Layout = "_Layout";
}
<h1>@Model["selected-cuisine"].Name Restaurants</h1>
@if(Model["cuisine-restaurants"] == null)
{
  <h4>There have been no restaurants add to this cuisine type yet!</h4>
}
else
{
  <ul>
    @foreach(var restaurant in Model["cuisine-restaurants"])
    {
      <li><a href='/cuisines/@Model["selected-cuisine"].Id/restaurants/@restaurant.Id'>@restaurant.Name</a></li>
    }
  </ul>
}
<a href="/cuisines/@Model["selected-cuisine"].Id/new">Add a Restaurant</a>
<a href="/cuisines/">Return to Cuisines</a>
<a href="/">Return Home</a>
