@{
  Layout = "_Layout";
}

<h1>The Best Restaurants!!!</h1>
<p class="lead">A place to add your favorite restaurants.</p>
<p>To begin, add a type of cuisine. You can add and delete as many as you'd like.</p>

<br>
<a href="/cuisines/new">Add a New Cuisine</a>
<br>
<br>
<a href="/cuisines">View Cuisines</a>
